# If unsure, run:
# pip freeze > requirements.txt
# then
# pip install -r requirements.txt



Bottleneck @ file:///C:/b/abs_f05kqh7yvj/croot/bottleneck_1707864273291/work
Brotli @ file:///C:/b/abs_3d36mno480/croot/brotli-split_1714483178642/work
certifi @ file:///C:/b/abs_1fw_exq1si/croot/certifi_1725551736618/work/certifi
cffi @ file:///C:/b/abs_90yq4lmu83/croot/cffi_1726856448345/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cryptography @ file:///C:/b/abs_35g500qir4/croot/cryptography_1724940575116/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
fonttools @ file:///C:/b/abs_f47gnfqnx0/croot/fonttools_1713551644747/work
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
joblib @ file:///C:/b/abs_f4b98l6lgk/croot/joblib_1718217224240/work
kiwisolver @ file:///C:/b/abs_88mdhvtahm/croot/kiwisolver_1672387921783/work
matplotlib @ file:///C:/ci/matplotlib-suite_1634667159685/work
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
notification==0.2.1
numexpr @ file:///C:/b/abs_afm0oewmmt/croot/numexpr_1683221839116/work
numpy @ file:///C:/Users/dev-admin/mkl/numpy_and_numpy_base_1682982345978/work
packaging @ file:///C:/b/abs_c3vlh0z4jw/croot/packaging_1720101866539/work
pandas @ file:///C:/ci/pandas_1632920071836/work
pillow @ file:///C:/b/abs_32o8er3uqp/croot/pillow_1721059447598/work
plotly @ file:///C:/b/abs_1014knmz1t/croot/plotly_1726245573566/work
ply==3.11
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyOpenSSL @ file:///C:/b/abs_61vvbgrloc/croot/pyopenssl_1723651600236/work
pyparsing @ file:///C:/b/abs_520r19rysg/croot/pyparsing_1725041656021/work
PyQt5==5.15.10
PyQt5-sip @ file:///C:/b/abs_c0pi2mimq3/croot/pyqt-split_1698769125270/work/pyqt_sip
PySocks @ file:///C:/ci/pysocks_1605287845585/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
pytz @ file:///C:/b/abs_6ap4tsz1ox/croot/pytz_1713974360290/work
requests==2.32.3
scikit-learn @ file:///C:/ci/scikit-learn_1642637259033/work
scipy==1.9.3
sip @ file:///C:/b/abs_edevan3fce/croot/sip_1698675983372/work
six @ file:///C:/ci/six_1605187374963/work
tenacity @ file:///C:/b/abs_1749lsqys6/croot/tenacity_1730304400080/work
threadpoolctl @ file:///C:/b/abs_def0dwqlft/croot/threadpoolctl_1719407816649/work
tomli @ file:///C:/Windows/TEMP/abs_ac109f85-a7b3-4b4d-bcfd-52622eceddf0hy332ojo/croots/recipe/tomli_1657175513137/work
tornado @ file:///C:/b/abs_7bua0304mj/croot/tornado_1718740122405/work
unicodedata2 @ file:///C:/b/abs_b6apldlg7y/croot/unicodedata2_1713212998255/work
urllib3==2.2.3
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
